# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [62]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [63]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep= '\t')
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 4. How many products cost more than $10.00?

In [64]:
prices = [float(value[1 : -1]) for value in chipo.item_price]
chipo.item_price = prices
chipo_filtered = chipo.drop_duplicates(['item_name','quantity','choice_description'])
chipo_one_prod = chipo_filtered[chipo_filtered.quantity == 1]
chipo_one_prod

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
...,...,...,...,...,...
4602,1827,1,Barbacoa Burrito,[Tomatillo Green Chili Salsa],9.25
4607,1829,1,Steak Burrito,"[Tomatillo Green Chili Salsa, [Rice, Cheese, S...",11.75
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",11.25
4612,1831,1,Carnitas Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",9.25

In [65]:
chipo_one_prod[chipo_one_prod['item_price']>10].item_name.nunique()

25

In [67]:
chipo['price_per_item']=chipo.item_price / chipo.quantity
chipo

,order_id,quantity,item_name,choice_description,item_price,price_per_item
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,8.49
...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75,8.75

In [68]:
chipo.query('price_per_item > 10').item_name.nunique()

25

In [22]:
# clean the item_price column and transform it in a float


# reassign the column with the cleaned prices


# delete the duplicates in item_name and quantity


# select only the products with quantity equals to 1

12

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [74]:
chipo.groupby('item_name').price_per_item.max()

item_name
6 Pack Soft Drink                         6.49
Barbacoa Bowl                            11.75
Barbacoa Burrito                         11.75
Barbacoa Crispy Tacos                    11.75
Barbacoa Salad Bowl                      11.89
Barbacoa Soft Tacos                      11.75
Bottled Water                             1.50
Bowl                                      7.40
Burrito                                   7.40
Canned Soda                               1.09
Canned Soft Drink                         1.25
Carnitas Bowl                            11.75
Carnitas Burrito                         11.75
Carnitas Crispy Tacos                    11.75
Carnitas Salad                            8.99
Carnitas Salad Bowl                      11.89
Carnitas Soft Tacos                      11.75
Chicken Bowl                             11.25
Chicken Burrito                          11.25
Chicken Crispy Tacos                     11.25
Chicken Salad                            10.98
Chicken Salad Bowl                       11.25
Chicken Soft Tacos                       11.25
Chips                                     2.15
Chips and Fresh Tomato Salsa              2.95
Chips and Guacamole                       4.45
Chips and Mild Fresh Tomato Salsa         3.00
Chips and Roasted Chili Corn Salsa        2.95
Chips and Roasted Chili-Corn Salsa        2.39
Chips and Tomatillo Green Chili Salsa     2.95
Chips and Tomatillo Red Chili Salsa       2.95
Chips and Tomatillo-Green Chili Salsa     2.39
Chips and Tomatillo-Red Chili Salsa       2.39
Crispy Tacos                              7.40
Izze                                      3.39
Nantucket Nectar                          3.39
Salad                                     7.40
Side of Chips                             1.69
Steak Bowl                               11.75
Steak Burrito                            11.75
Steak Crispy Tacos                       11.75
Steak Salad                               8.99
Steak Salad Bowl                         11.89
Steak Soft Tacos                         11.75
Veggie Bowl                              11.25
Veggie Burrito                           11.25
Veggie Crispy Tacos                       8.49
Veggie Salad                              8.49
Veggie Salad Bowl                        11.25
Veggie Soft Tacos                        11.25
Name: price_per_item, dtype: float64

In [90]:
chipo.groupby('item_name').agg(gia_san_pham = ('price_per_item', 'max'))

                                       gia_san_pham
item_name
6 Pack Soft Drink                              6.49
Barbacoa Bowl                                 11.75
Barbacoa Burrito                              11.75
Barbacoa Crispy Tacos                         11.75
Barbacoa Salad Bowl                           11.89
Barbacoa Soft Tacos                           11.75
Bottled Water                                  1.50
Bowl                                           7.40
Burrito                                        7.40
Canned Soda                                    1.09
Canned Soft Drink                              1.25
Carnitas Bowl                                 11.75
Carnitas Burrito                              11.75
Carnitas Crispy Tacos                         11.75
Carnitas Salad                                 8.99
Carnitas Salad Bowl                           11.89
Carnitas Soft Tacos                           11.75
Chicken Bowl                                  11.25
Chicken Burrito                               11.25
Chicken Crispy Tacos                          11.25
Chicken Salad                                 10.98
Chicken Salad Bowl                            11.25
Chicken Soft Tacos                            11.25
Chips                                          2.15
Chips and Fresh Tomato Salsa                   2.95
Chips and Guacamole                            4.45
Chips and Mild Fresh Tomato Salsa              3.00
Chips and Roasted Chili Corn Salsa             2.95
Chips and Roasted Chili-Corn Salsa             2.39
Chips and Tomatillo Green Chili Salsa          2.95
Chips and Tomatillo Red Chili Salsa            2.95
Chips and Tomatillo-Green Chili Salsa          2.39
Chips and Tomatillo-Red Chili Salsa            2.39
Crispy Tacos                                   7.40
Izze                                           3.39
Nantucket Nectar                               3.39
Salad                                          7.40
Side of Chips                                  1.69
Steak Bowl                                    11.75
Steak Burrito                                 11.75
Steak Crispy Tacos                            11.75
Steak Salad                                    8.99
Steak Salad Bowl                              11.89
Steak Soft Tacos                              11.75
Veggie Bowl                                   11.25
Veggie Burrito                                11.25
Veggie Crispy Tacos                            8.49
Veggie Salad                                   8.49
Veggie Salad Bowl                             11.25
Veggie Soft Tacos                             11.25

### Step 6. Sort by the name of the item

In [76]:

# OR

chipo.sort_values(by = "item_name")

,order_id,quantity,item_name,choice_description,item_price,price_per_item
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98,6.49
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49,6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49,6.49
...,...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75,8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75,8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49,8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49,8.49

### Step 7. What was the quantity of the most expensive item ordered?

In [78]:
chipo.sort_values(by = "item_price", ascending = False).head(1)

,order_id,quantity,item_name,choice_description,item_price,price_per_item
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25,2.95

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [79]:
chipo_salad = chipo[chipo.item_name == "Veggie Salad Bowl"]

len(chipo_salad)

18

### Step 9. How many times did someone order more than one Canned Soda?

In [80]:
chipo_drink_steak_bowl = chipo[(chipo.item_name == "Canned Soda") & (chipo.quantity > 1)]
len(chipo_drink_steak_bowl)

20